
  .stars {
    font-size: 0;
  }
  
  .stars p {
      font-size: 20px;
      padding: 3px;
  }
  
  .stars i {
    font-size: 26px;
    padding: 3px;
  }
  
  .stars:hover i,
  .stars:not(:hover) .active{
    color: yellow;
  }
  
  .stars:hover i:hover ~ i {
    color: inherit;
  }